.formWrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: rgb(97, 167, 167);
  opacity: 1;
  margin: 10px;
}
.heading {
  text-align: center;
}
.formContent {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-self: center;
  width: 80%;
}
