.wrapper {
  width: 100vw;
  overflow: hidden;
  color: rgb(12, 69, 63);
  font-size: 30px;
  position: relative;
}
.heroImage {
  width: 100%;
  height: 100vh;
}
.navMenu {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 20px;
}
